[Unit]
Description=Kafka gatherer service script
After=multi-user.target

[Service]
Type=simple
Restart=on-failure
User=kdugas
WorkingDirectory=/home/kdugas/DataEngineering-Project/src
ExecStartPre=/usr/bin/python3 consumer.py --flush
ExecStart=/usr/bin/python3 producer.py
ExecStartPre=/usr/bin/python3 consumer.py --flush --trip
ExecStart=/usr/bin/python3 producer.py --trip

[Install]
WantedBy=multi-user.target
